/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2015, 10:26:53 AM
    Author     : Donald
*/
.heading {
    border-radius: 30px;
    text-align: center;
    border-bottom: double;
    border-top: double;
    background-color: goldenrod;
    color: Navy;
    opacity: 0.8;
}
html{
    background-color: navy;
}

body{
    background: url("http://cop4813.ccec.unf.edu/~N00816280/cop4813/Images/oceanNights.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 40px;
    position: relative;
}
h2{
    text-align: center;
    color: black;
}
h3{
    color: goldenrod;
    text-align: center;
}
p{
    position: relative;
    color: goldenrod;
    text-indent: 40px;
    text-align: left;
    background-color: navy;
    margin-left: 100px;
    margin-right: 100px;
    opacity: 0.7;
}
#mypic{
    text-align: center;
    height: 150px;
    width: 150px;
}
.aboutMe{
          font-family: verdana;
          color: goldenrod;
}
.menubar{
    display: block;
    text-decoration: none;
    list-style-type: none;
    background-color: goldenrod;
    text-decoration-color: navy;
    margin: 3px;
    border-radius: 5px;
    padding: 2px;
}
table, tr, th, td{
    border: 2px double;
    font-family: verdana;
    font-color: goldenrod;
    color: goldenrod;
    border-radius: 10px;
    padding: 2px;
}
table{
    background-color: goldenrod;
    width: 85%;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}
th{
    text-align: center;
    color: navy;
}
td{
    text-align: center;
    font-family: verdana;
    color: navy;
    background-color: goldenrod;
    column-span: all;
}
a{
    border-radius: 2px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
}
a:link{
    color: black;
    background-color: goldenrod;
}
a:visited{
    color: navy;
    background-color: goldenrod;
}
a:hover{
    color: silver;
    background-color: black;
}
a:active{
    color: goldenrod;
    background-color: black;
}
#objective{
    background-color: navy;
    opacity: 0.8;
    color: goldenrod;
    width: 80%;
    margin-left: 100px;
    margin-right: 100px;
}
ul{
    position: relative;
}
form
{
    position: relative;
    alignment-adjust: central;
    color: gold;
    height: 100%;
    width: 100%;
}
select{
    alignment-baseline: central;
}
button{
    background-color: goldenrod;
    color: navy;
}
footer{
    text-align: center;
}